<%= link_to("<< Back to List", pages_path, :class => 'back-link') %>

<div class="pages edit">
  <h2>Update Subject</h2>

<%#  <%= form_for(@subject, :url => subjects_path, :method => 'patch') do |f| %> %>

<%=form_for(@page) do |f| %>

    <%=render(:partial => 'form', :locals => {:f => f})%>

    <div class="form-buttons">
      <%= f.submit("Update Page") %>
    </div>

  <% end %>
</div>
