<h1>Hello Navi from hello!</h1>

<%= 1+5 %></br>

<% @array.each do |n| %>
  <%= n %></br>
<% end%>

<% a = "x" %>
<%= "hello #{a}"%></br>

ID : <%= @id %> </br>

ID : <%= params[:id] %></br>

PAGE : <%= params[:page].to_i + 1%>
